// imports
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

// resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --para: hsl(215, 51%, 70%);
    --eth: hsl(178, 100%, 50%);
    font-size: 18px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--mainBG);
    width: 100%;
    height: 100vh;
}

.card {
    width: 25em;
    background-color: var(--cardBG);
    margin: 3rem auto;
    border-radius: 20px;

    // padding-bottom: 1rem;
}

.nft {
    width: 20rem;
    margin: 2rem auto;

    img {
        width: 20rem;
        border-radius: 10px;
        margin: 2rem auto 0;
    }
}

.bottom {
    margin-left: 20px;
    padding: 1rem;

    .header {
        font-size: 1.3rem;
        color: var(--white);
        margin-left: 20px;
        font-weight: 400;
    }

    .para {
        // margin-left: 20px;
        margin-top: 1rem;
        color: var(--para);
        line-height: 1.5;
        font-weight: 300;
    }

    .stats {
        margin: 20px 10px;
        align-content: space-around;

        .amount {
            display: inline-flex;
            font-weight: 400;

            .eth-icon {
                float: left;
                padding-right: .5rem;
            }

            .eth-para {
                color: var(--eth);
                font-weight: 400;
            }
        }

        .time {
            display: inline-flex;
            float: right;

            // padding-right: 1rem;

            .clock {
                // float: left;
                padding-right: .4rem;
            }

            .days {
                color: var(--para);
            }
        }
    }

    .avatar {
        width: 300px;

        // margin: 10px auto;
        // border: 2px solid red;
        display: flex;
        text-align: center;

        img {
            width: 40px;
            border-radius: 50%;
            border: 1px solid white;
            text-align: center;
        }

        .creator-words {
            // justify-content: center;
            // align-content: center;
            // align-items: center;
            display: inline-flex;
            padding-left: .8rem;

            // margin-bottom: 1rem;
            font-weight: 300;

            .about {
                color: var(--para);
                align-items: center;
                font-size: 18px;
            }

            .name {
                color: var(--white);
                font-size: 18px;
                margin-left: .3rem;
            }
        }
    }
}

.rel {
    position: relative;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
