/** @format */

@import "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --para: hsl(215, 51%, 70%);
  --eth: hsl(178, 100%, 50%);
  font-size: 18px;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: var(--mainBG);
}

/* CLASS FORMATTING BELOW */

.card {
  width: 20rem;
  margin: 7rem auto;
  padding: 0.1rem;
  border-radius: 2rem;
  background-color: var(--cardBG);
}
.nft img {
  display: flex;
  width: 17rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.bottom {
  align-items: center;
  padding: 1.5rem;
}

.header {
  color: var(--white);
  font-weight: 400;
  font-size: 1.2rem;
}

.para {
  padding: 1rem 1rem 1rem 0;
  color: var(--para);
  font-weight: 300;
  line-height: 1.5;
}

.stats {
  display: flex;
  justify-content: space-between;
  /* Aligns flex items along the main axis of the current line of the flex container. */
  align-content: center;
  /* Aligns a flex container's lines within the flex container when there is extra space in the cross-axis, similar to how 'justify-content' aligns individual items within the main-axis. */
  padding-bottom: 1rem;
}

.amount {
  display: inline-flex;
  color: var(--eth);
}
.eth-icon img {
  width: 0.8rem;
}

.eth-para {
  margin: 4px;
}

.time {
  display: flex;
  color: var(--para);
}
.clock {
  display: flex;
}

.clock img {
  /* border: 1px solid white; */
  width: 1.5rem;
}

.days {
  margin: 2px;
  /* justify-content: center; */
  /* justify-items: auto; */
}

.avatar img {
  width: 2rem;
  margin: 1rem 1rem 1rem 0;
  padding: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  /* justify-content: center; */
}
.avatar {
  display: flex;
  align-items: center;
  /* Aligns flex items along the cross axis of the current line of the flex container. */
  border-top: 1px solid var(--line);
}
.creator-words {
  display: inline-flex;
  justify-content: center;
  /* Aligns flex items along the main axis of the current line of the flex container. */
}

.about {
  color: var(--para);
}

.name {
  color: var(--white);
}

.attribution {
  text-align: center;
}

/* CLASS FORMATTING ABOVE */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* UTILITY CLASSES BELOW */

.rel {
  position: relative;
}
